

.container {
    display: flex;
    width: 100%;
}

#toggle-burger {
display: none;
}

#burger-icon {
    display: none;
}

/* fin code css header*/

@media screen and (max-width: 600px) {
    #toggle-burger {
        display: block;
        }
    #burger-icon {
        display: block;
        width: 30%;
        padding: 10px;
        margin-left: 13px;
    }
    .menu-list {
        display: none !important;
        flex-direction: column;
        width: 0;
        transition: all .5s ease-in-out;
        list-style: none;
    }
    .show {
        display: flex !important;
        text-align: right;
        margin-top: 45px;
        width: 50px;
    }
    .burger {
        display: block;
        position: absolute;
        margin: 15px;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .menu-list li {
        width: 125px;
        padding: 2px;
    }
}