.header {
    background-color: #CF2B4E;
    width: 100%;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.logo {
    width: 40%;
    padding-left: 15px;
    justify-content: flex-start;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    color: #FFDA2A;
}

.menu-list li {
    padding-left: 30px;
}

.nav a:link, a:visited {
    color: #FFDA2A !important;
    text-decoration: none;
}

.big-logo {
    width: 100%;
    margin: 0;
    background-color: #CF2B4E;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.big-logo img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#burger-icon {
    display: none;
}

/* fin code css header*/

@media screen and (max-width: 600px) {
    #burger-icon {
        display: block;
        width: 30%;
        padding: 10px;
        margin-left: 13px;
    }
    .menu-list {
        display: none;
        flex-direction: column;
        width: 0;
        transition: all .5s ease-in-out;
        list-style: none;
    }
    .show {
        display: flex;
        text-align: right;
        margin-top: 45px;
        width: 50px;
    }
    .burger {
        display: block;
        position: absolute;
        margin: 15px;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .menu-list li {
        width: 125px;
        padding: 2px;
    }